{% from "../macros/commodity-description.njk" import commodityDescription %}
{% from "../macros/document-reference.njk" import documentReference %}
{% from "../macros/decision-match.njk" import decisionMatch %}
{% from "../macros/quantity-status.njk" import quantityStatus %}

{% set maxLength = 24 %}

{% set showQuantityStatusColumn = showQuantityStatus and customsDeclaration.hasTracesChed %}

<table class="govuk-table govuk-table--small-text-until-tablet btms-declaration{{ tabContextSuffix }}">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Item number</th>
      <th scope="col" class="govuk-table__header">Commodity code</th>
      <th scope="col" class="govuk-table__header">Description</th>
      <th scope="col" class="govuk-table__header">Quantity / Weight</th>
      {% if showQuantityStatusColumn %}
        <th scope="col" class="govuk-table__header">Quantity status</th>
      {% endif %}
      <th scope="col" class="govuk-table__header">CHED reference</th>
      <th scope="col" class="govuk-table__header">Match</th>
      <th scope="col" class="govuk-table__header">Authority</th>
      <th scope="col" class="govuk-table__header">Decision</th>
    </tr>
  </thead>
  {% for commodity in customsDeclaration.commodities %}
    <tbody class="govuk-table__body">
      {% for decision in commodity.decisions %}

        {% set matchResult = decision.match %}
        {% if tabContext === tabContexts.LEVELS_RESULT %}
          {% if matchResult === true and (decision.level2NoMatch === true or decision.level3NoMatch === true) %}
            {% set matchResult = false %}
          {% endif %}
        {% endif %}

        <tr data-match{{ tabContextSuffix }}="{{ matchResult }}" data-authority{{ tabContextSuffix }}="{{ decision.authority.value }}" data-decision{{ tabContextSuffix }}="{{ decision.decision }}">
          <td class="govuk-table__cell">{{ commodity.itemNumber }}</td>
          <td class="govuk-table__cell">{% include "./commodity-code.njk" %}</td>
          <td class="govuk-table__cell">{{ commodityDescription(commodity.goodsDescription, commodity.id, maxLength) }}</td>
          <td class="govuk-table__cell">{% include "./commodity-weight-quantity.njk" %}</td>
          {% if showQuantityStatusColumn %}
            <td class="govuk-table__cell">{{ quantityStatus(decision.quantityStatus) }}</td>
          {% endif %}
          {{ documentReference(decision) }}
          <td class="govuk-table__cell">{{ decisionMatch(matchResult) }}</td>
          <td class="govuk-table__cell">
            {{ decision.authority.text }}
          </td>
          <td class="govuk-table__cell">
            {% include "./commodity-decision.njk" %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  {% endfor %}
</table>
